{% extends "mylyrics/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<h2 class="text-3xl font-semibold">{{ form.instance.pk|yesno:'Update,Create' }} your lyrics</h2>
<form method="post" action="{{ form_action }}">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
            {{ field.label_tag }}
            {{ field|add_class:"border rounded w-full p-2" }}
            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <button 
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
    >{{ form.instance.pk|yesno:'Update,Create' }}</button>
    
    <a href="{% url 'mylyrics:dashboard' %}">
        <button type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
        >Cancel</button>
    </a>
    <a href="{% if form.instance.pk %}{% url 'mylyrics:edit-generate' pk=form.instance.pk %}{% else %}{% url 'mylyrics:generate' %}{% endif %}">
        <button type="button" class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer">Generate</button>
    </a>
    {% if form.instance.pk %}
        <a href="{% url 'mylyrics:delete-song' pk=form.instance.pk %}" onclick="return confirm('Delete this lyrics ?')">
            <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer">Delete</button>
        </a>
    {% endif %}
</form>

        
        
{% endblock %}
