{% extends "lyricsnest/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h2 class="text-3xl font-semibold my-5">Log in</h2>
    <form method="post" class="bg-white shadow-md rounded p-8 m-4">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2" >{{ field.label }}</label>
                {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                
                {% for error in field.errors %}
                    <span class="color-red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-blue-500 mb-4"><a href='{% url "lyricsnest:signup" %}'>Don't have an account ? Sign up here</a></div>
        
        <button 
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
        >Log in</button>

    </form>
{% endblock %}