{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <title>{% block title %}My Lyrics{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
        <section class="flex flex-col items-center h-screen">
            {% include 'mylyrics/_partials/header.html' %}
            <div class="flex flex-col items-center h-full">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>