{% extends "mylyrics/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" class="bg-white shadow-md rounded p-8 m-4">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2" >{{ field.label }}</label>
                {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                
                {% for error in field.errors %}
                    <span class="color-red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-blue-500 mb-4"><a href='{% url "signup" %}'>Don't have an account ? Sign up here</a></div>
        {% include "mylyrics/_partials/button.html" with bgcolor="blue" txtcolor="white" label="Log in" %}
    </form>
{% endblock %}