<header class="w-full sticky top-0 flex items-center justify-center p-8">

    <a  href="{% url 'mylyrics:home' %}"
        class="{% if request.resolver_match.url_name == 'home' %}bg-blue-200{% endif %} rounded-xs font-semibold p-2"    
    >Home</a>

    {% if user.is_authenticated %}
    
        <a  href="{% url 'mylyrics:dashboard' %}"
            class="{% if request.resolver_match.url_name == 'dashboard' %}bg-blue-200{% endif %} rounded-xs font-semibold p-2"    
        >Dashboard</a>

        <form method="post" action="{% url 'mylyrics:logout' %}">
            {% csrf_token %}
            <button 
                class="font-semibold p-2 rounded-xs cursor-pointer"
            >Logout</button>
        </form>
    {% else %}
        <a  href="{% url 'mylyrics:signup' %}"
            class="{% if request.resolver_match.url_name == 'signup' %}bg-blue-200{% endif %} rounded-xs font-semibold p-2"    
        >Sign up</a>
        <a href="{% url 'mylyrics:login' %}"
            class="{% if request.resolver_match.url_name == 'login' %}bg-blue-200{% endif %} rounded-xs font-semibold p-2"    
        >Log in</a>
    {% endif %}
</header>